<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 p-5 shadow-lg bg-white rounded text-center animate-fade-in">
       <h1 class="display-4 fw-bold text-dark mb-3 text-wrap">Welcome, <span class="text-primary fs-3">{{response}}!</span></h1>


        <p class="lead text-muted">Glad to have you here. Let's make this experience amazing!</p>

        <button class="btn btn-danger btn-lg w-75 rounded-pill shadow-sm mt-3 hover-lift" (click)="onLogout()">Logout</button>
    </div>
</div>
